<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
    </style>
</head>

<body>
    <h1>URL Shortener</h1>
    <% if(locals.id) { %>
        <p>Your short URL is <a href="<%= locals.id %>">
                <%= locals.id %>
            </a></p>
        <% } %>
            <form action="/url" method="POST">
                <label for="url">Enter your original URL</label>
                <input type="text" id="url" name="url" placeholder="https://www.example.com">
                <button type="submit">Shorten</button>
            </form>


</body>

</html>